<nav class="navbar navbar-expand-md navbar-dark my-navbar">
    <a class="navbar-brand" href="/"><i class="fa fa-language" aria-hidden="true"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav mr-3 mr-auto">
        <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" id="navbardropMaster" data-toggle="dropdown">
             Master Data
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/language">Language</a>
              <a class="dropdown-item" href="/category">Category</a>
              <a class="dropdown-item" href="/word">Word</a>
            </div>
          </li>
      </ul>
      <ul class="navbar-nav mr-auto d-none">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardropReport" data-toggle="dropdown">
             Reports
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/reports/language">Language</a>
              <a class="dropdown-item" href="/reports/category">Category</a>
              <a class="dropdown-item" href="/reports/word">Word</a>
            </div>
          </li>
      </ul>
      <form method="POST" action="/changeMyLanguage" id="form1">
        <div class="form-inline">
            <label for="ispeak" class="mr-sm-2"><%= variables.find(x => x.name == 'My Language').text %></label>
            <select class="form-control" id="ispeak" name="selMyLangugaes" onchange="form1.submit()">
              <% for ( var i = 0; i < MyLanguages.length; i++ ) { %>
                <% if(MyLanguageSelected == MyLanguages[i]._id) { %>
                  <option value="<%= MyLanguages[i]._id %>" selected><%= variables.find(x=> x.name == MyLanguages[i].LanguageName).text %></option>
                <% } else {%>
                  <option value="<%= MyLanguages[i]._id %>"><%= variables.find(x=> x.name == MyLanguages[i].LanguageName).text %></option>
                <% }%>
              <% } %>
            </select>    
          
        </div>
      </form>
      <div> 
        <form>
          <!-- <button>Logout</button> -->
        </form>
      </div>  
</nav>
