<link defer rel="stylesheet" type="text/css" href="/static/stylesheets/shared/index.css"> 
<script defer src="/static/javascripts/index.js"></script>
<h1>Hello rishabh</h1>
<div class="row">
	<input type="hidden" id="h_myLanguageId" value="<%= MyLanguageSelected %>">
	<div class="col-lg-5">
		<div class="form-group">
			<label for="selCategory"><%= Variables.find(x=> x.name == 'Select Category').text %></label>
			<select class="form-control" id="selCategory">
				<option value=""><%= Variables.find(x=> x.name == 'Plaese Select').text %></option>
				<% if(Categories!=null){ for ( var i = 0; i < Categories.length; i++ ) { if(Categories[i].CategoryName != 'Language'){%>
					<option value="<%= Categories[i]._id %>"><%= Variables.find(x=> x.name == Categories[i].CategoryName).text %></option>
				<% }}} %>
			</select>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="form-group">
			<label for="selSourceLang"><%= Variables.find(x=> x.name == 'Translate From').text %></label>
			<select class="form-control" id="selSourceLang">
				<option value=""><%= Variables.find(x=> x.name == 'Plaese Select').text %></option>
				<% if(Languages!=null){ for ( var i = 0; i < Languages.length; i++ ) { %>
					<option value="<%= Languages[i]._id %>"><%= Variables.find(x=> x.name == Languages[i].LanguageName).text %></option>
				<% }} %>
			</select>
		</div>
	</div>  
	<div class="col-lg-1">
		<div id="divSwapLang" title="Swap Language" class="text-center"><i class="fa fa-exchange" aria-hidden="true"></i></div>
	</div>
	<div class="col-lg-3">
		<div class="form-group">
			<label for="selDestLang"><%= Variables.find(x=> x.name == 'Translate Into').text %></label>
			<select class="form-control" id="selDestLang">
				<option value=""><%= Variables.find(x=> x.name == 'Plaese Select').text %></option>
				<% if(Languages!=null){ for ( var i = 0; i < Languages.length; i++ ) { %>
					<option value="<%= Languages[i]._id %>"><%= Variables.find(x=> x.name == Languages[i].LanguageName).text %></option>
				<% }} %>
			</select> 
		</div>
	</div>
	<div class="col-lg-12">
		<div class="table-responsive my-table-box">
			<table class="table table-striped table-hover table-bordered table-sm my-table" id="tblTrans">
			</table>
		</div>
	</div>
  </div>